*{
    margin: 0px;
    padding: 0px;
}

/*Header tab*/

.header{
    background-color: #1f2937;
    padding: 15px;
}

.nav{
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    
}

.nav h1{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    margin-right: 210px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 210px;
}

.nav a{
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    
}

/*Hero tab*/

.hero {
    display: flex;
    font-family: 'Roboto';
    justify-content: center;
    margin: 100px 0px;
    gap: 50px;

}

.hero h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
}

.hero p{
    color: #e5e7eb;
    font-size: 18px;
}

.hero button {
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    padding: 8px 30px;
    color: #f9faf8;
}

.left {
    border: 2px solid yellow;
    height: 300px;
    width: 440px;
   
}

.right {
    background-color: #6e737e;
    border: 2px solid yellow;
    height: 300px;
    width: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Information tab*/

.information {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto';
}

.information-content {
    display: flex;
    justify-content: center;
}

.information h1{
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;
    margin: 50px;
    display: block;
    text-align: center;
}

.information p{
    color: #1f2937;
    font-size: 18px;
}

.information-item{
    margin: 0 30px;
    width: 160px;
}
    
.box {
    height: 160px;
    width: 160px;
    border-radius: 10px;
    border: 5px solid #3882f6;
}

/* Quote tab */

.quote {
    margin: 0px;
    padding: 0px;
    background-color: #e5e7eb;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-content{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 200px 300px;
}

.quote-autor{
    color: #1f2937;
    font-size: 24px;
    float: right;
}






